@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* titulos y texto */
h1 {
    font-family: "Bebas Neue";
    font-size: 100px;
    font-weight: 300;
    padding-right: 3vh;
    line-height: 80px;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 100px;
    font-weight: 300;
}

p {
    font-family: "Open Sans";
}

/* header */

header {
    display: flex;
    padding: 1vh 8vh;

    background-color: #f3cb19;
    justify-content: space-between;
}

nav {
    padding-top: 3vh;
    display: flex;
    gap: 6vh;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
}


/* seccion1 */

.Seccion1 {
    width: 100%;
    display: flex;
    padding: 13vh 11vh;
    align-items: center;
    justify-content: center;
    gap: 18vh;
}

.conText1 {
    align-items: center;
    justify-content: center;
    
}

.conText1 p{
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

button{
    background-color: #f3cb19;
    color: black;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 700;
    cursor: pointer;
}

/* seccion contenedor position */
.contentPosition{
    display: none;
}

/* seccion3 */

.seccion3{
    width: 100%;
    background-color: #f5cb00;
    padding-top: 50vh;
    padding-left: 10vh;
    padding-bottom: 15vh;
}

.conText3{
    display: flex;
}

.tituloSec3{
    padding-right: 110vh;
}

.tituloSec3 h2{
    line-height: 80px;
}

.contenedorText{
    flex-direction: column;
    gap: 20px;
}

.contenedorText p{
    padding-top: 3vh;
    padding-bottom: 6vh;
    
}

.contenedorText button{
    background-color: black;
    color: white;
    
}

.imgSec3 {
    padding-right:  5vh;
    padding-left: 10vh;
}


/* seccion4 */

.seccion4{
    width: 100%;;
}

.conTextSec4{
    display: flex;
    padding: 15vh 14vh;
}

.conTextSec4 img{
    box-shadow: 30px 15px 40px rgba(0, 0, 0, 0.25);
}

.conText4{
  background-color: #e6e6e6;
  padding:5vh;
  padding-left: 8vh;
  box-shadow: 30px 15px 40px rgba(0, 0, 0, 0.25);
}

.conText4 h2{
 color:#f5cb00;
 font-size: 80px;
 font-weight: 200;
}

.conText4 p{
    padding-right: 21vh;
    padding-bottom: 5vh;
    font-weight: 500;
}

.conText4 button{
    background-color: black;
    color: white;
}

.conText4Img{
    padding-left: 30vh;
    box-shadow: none;
}

.conText4Img img{
     width: 250px;
     box-shadow: none;
}

/* seccion 5 */

.seccion5{
    width: 100%;
    background-color: black;
}

.conText5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    text-align: center;
}

.conText5 h3{
    color:#f5cb00;
    font-family: "Bebas Neue";
    font-size: 40px;
    font-weight: 300;
}

.conText5 p{
    color: white;
    padding: 0 60vh;
    padding-bottom: 5vh;
}

.Imgsec5{
    padding-bottom: 5vh;
}

.conText5 button{
    margin-bottom: 11vh;
}

/* seccion6 */

.seccion6{
    width: 100%;
    display: flex;
    padding: 20vh 15vh;
    gap: 10vh;
}

.conText6{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.conText6 h3{
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 300;
}

.conText6 p{
    padding-top: 1vh;
    padding-bottom: 5vh;
}

/* seccion7 */

.seccion7{
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 15vh;
    gap: 15vh;
}

.conText7{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conText7 h2{
    line-height: 80px;
    font-size: 70px;
}

.conText7 p{
    padding-bottom: 5vh;
}