@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* titulos y texto */
h1 {
    font-family: "Bebas Neue";
    font-size: 100px;
    font-weight: 300;
    padding-right: 3vh;
    line-height: 80px;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 100px;
    font-weight: 300;
}

p {
    font-family: "Open Sans";
}

/* header */

header {
    display: flex;
    padding: 1vh 8vh;

    background-color: #f3cb19;
    justify-content: space-between;
}

nav {
    padding-top: 3vh;
    display: flex;
    gap: 6vh;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
}


/* seccion1 */

.Seccion1 {
    width: 100%;
    display: flex;
    padding: 13vh 11vh;
    align-items: center;
    justify-content: center;
    gap: 18vh;
}

.conText1 {
    align-items: center;
    justify-content: center;
    
}

.conText1 p{
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

button{
    background-color: #f3cb19;
    color: black;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 700;
    cursor: pointer;
}

/* seccion contenedor position */

.contenedor-principal {
  position: relative;
  height: 300px; /* altura que ocupará el “espacio intermedio” */
}

.contentPosition {
  position: absolute;  /* Saca el contenedor del flujo normal para poder posicionarlo libremente */
  top: 100%;  /* Lo coloca justo debajo del contenedor padre (al 100% de su altura) */
  left: 50%;  /* Lo ubica horizontalmente en el centro del contenedor padre */
  transform: translate(-50%, -50%);  /* Ajusta la posición para que el centro del bloque quede exactamente centrado */
  background: #e6e6e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60vh;
  padding: 40px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
 
}

.conText2 {
  width: 40%;
}

.conText2 h2{
    color: #f5cb00;
    font-size: 60px;
    line-height: 0.9;
    padding-bottom: 1vh;
}

.conText2 p{
    padding-bottom: 3vh;
}

.conText2 .button{
    background: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color:black;
}
.ImgsContPosition{
    display: flex;
    gap: 15vh;
}

/* seccion3 */

.seccion3{
    width: 100%;
    background-color: #f5cb00;
    padding-top: 50vh;
    padding-left: 10vh;
    padding-bottom: 15vh;
}

.conText3{
    display: flex;
}

.tituloSec3{
    padding-right: 110vh;
}

.tituloSec3 h2{
    line-height: 80px;
}

.contenedorText{
    flex-direction: column;
    gap: 20px;
}

.contenedorText p{
    padding-top: 3vh;
    padding-bottom: 6vh;
    
}

.contenedorText button{
    background-color: black;
    color: white;
    
}

.imgSec3 {
    padding-right:  5vh;
    padding-left: 10vh;
}


/* seccion4 */

.seccion4{
    width: 100%;;
}

.conTextSec4{
    display: flex;
    padding: 15vh 14vh;
}

.conTextSec4 img{
    box-shadow: 30px 15px 40px rgba(0, 0, 0, 0.25);
}

.conText4{
  background-color: #e6e6e6;
  padding:5vh;
  padding-left: 8vh;
  box-shadow: 30px 15px 40px rgba(0, 0, 0, 0.25);
}

.conText4 h2{
 color:#f5cb00;
 font-size: 80px;
 font-weight: 200;
}

.conText4 p{
    padding-right: 21vh;
    padding-bottom: 5vh;
    font-weight: 500;
}

.conText4 button{
    background-color: black;
    color: white;
}

.conText4Img{
    padding-left: 30vh;
    box-shadow: none;
}

.conText4Img img{
     width: 250px;
     box-shadow: none;
}

/* seccion 5 */

.seccion5{
    width: 100%;
    background-color: black;
}

.conText5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    text-align: center;
}

.conText5 h3{
    color:#f5cb00;
    font-family: "Bebas Neue";
    font-size: 40px;
    font-weight: 300;
}

.conText5 p{
    color: white;
    padding: 0 60vh;
    padding-bottom: 5vh;
}

.Imgsec5{
    padding-bottom: 5vh;
}

.conText5 button{
    margin-bottom: 11vh;
}

/* seccion6 */

.seccion6{
    width: 100%;
    display: flex;
    padding: 20vh 15vh;
    gap: 10vh;
}

.conText6{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.conText6 h3{
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 300;
}

.conText6 p{
    padding-top: 1vh;
    padding-bottom: 5vh;
}

/* seccion7 */

.seccion7{
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 15vh;
    gap: 15vh;
}

.conText7{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conText7 h2{
    line-height: 80px;
    font-size: 70px;
}

.conText7 p{
    padding-bottom: 5vh;
}

/* seccion8 */

.seccion8{
    width: 100%;
    display: flex;
    padding: 20vh 19vh;
    gap: 15vh;
}

form{
    background-color: black;
    width: 220vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:white;
    padding: 9vh;
}

form label{
    font-family: "Open Sans";
}

.contForm1{
    display: flex;
    justify-content: center;
    gap: 15vh;
}


.casilla input,textarea{
    background: none;
    height: 32px;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.casilla textarea{
    resize: none;
    height: 130px;
}

form p{
    font-size: 12px;
    padding-top: 3vh;
}

.conText8{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-right: 5vh;
}

.conText8 h2{
    font-size: 60px;
    line-height:1.1;
    color:#f5cb00;
    padding-right: 26vh;
}

.conText8 p{
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
 
}


/* seccion 9 */

.seccion9{
    width: 100%;
    padding: 10vh 30vh;
    background-color: #f5cb00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conText9{
    text-align: center;
    padding-bottom: 5vh;
}
.conText9 h3{
    font-family: "Bebas Neue";
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 3vh;
}

.conText9 p{
    font-size: 18px;
}

.seccion9 img{
    padding-bottom: 5vh;
}
.seccion9 button{
    background-color: black;
    color: white;
}

/*  seccion10 */

footer{
    width:100%;
    background-color: black;
    height: 99vh;
    padding: 10vh 6vh;
}

.footerA{
    gap: 10vh;
    display: flex;
    padding-top: 20vh;
    padding-bottom: 23vh;
}

.contForm{
        flex-direction: column;
        display: flex;
}

.footerA a{
    text-decoration: none;
    font-family: "Open Sans";
    color:#f5cb00;
    font-size: 18px;
    font-weight: 700;
}

.contFooter{
     display: flex;
     justify-content: space-between;
     padding-top: 5vh;
}
.contFooter p{
    color:#f5cb00;
     font-weight: 700;
}

.logos{
    gap: 4vh;
    display: flex;
}

.logos img{
    cursor: pointer;
}


/* media queries */

@media(max-width: 1279px) and (min-width:921px ){

    /* seccion1 */
    .Seccion1{
        gap: 14vh;
        padding-bottom: 2vh;
    }
    .ImgSec1 img{
        width: 120vh;
    }

    .conText1 h1{
        font-size: 80px;
        line-height: 0.9;
    }

    .conText1 p{
        font-size: 15px;
    }



    /* seccion2 */

    .contentPosition{
        height: 80vh;
        width: 90%;
    }

    .ImgsContPosition img{
        width: 45vh;
    }

    /* seccion3 */

    .tituloSec3 h2{
        font-size: 87px;
    }

    .imgSec3 img{
        width: 135vh;
    }

    /* seccion4 */

    .conText4{
        width: 50%;
        }

    .conTextSec4 img{
        width: 50%;
        
    }

    .conText4Img img{
        width: 50vh;
    }  

    /* seccion5 */

    .Imgsec5 img{
        width: 170vh;
    }

    /* seccion6 */

    .imgSec6 img{
        width: 120vh;
    }

    /* seccion7 */

    .imgsec7 img{
        width: 130vh;
    }

    .conText7 h2{
        line-height: 0.9;
        padding-bottom: 5vh;
    }

    .conText7 p{
        font-size: 15px;
    }

    /* seccion8 */

    .seccion8{
        padding: 20vh 10vh;
    }
    form{
        width: 400vh;
    }


    /* seccion9 */
    .seccion9 img{
        width: 180vh;
    }

    /* footer */
    footer{
        height: 115vh;
    }

}


@media(max-width: 920px) and (min-width: 769px ){

    /* seccion1 */
    .Seccion1{
        flex-wrap: wrap;
    }

    /* seccion2 */

    .contentPosition{
        height: 90vh;
        width: 92%;
    }

    .ImgsContPosition{
        gap: 8vh;
    }

    .ImgsContPosition img{
        width: 40vh;
    }

    /* seccion3 */

    .seccion3{
        padding: 60vh 7vh;
        padding-bottom: 14vh;
    }
    .conText3{
        flex-wrap: wrap;
    }

    .contenedorText{
        padding-bottom: 5vh;
    }
    .tituloSec3{
        padding-right: 0vh;
    }

    .imgSec3{
        padding:0;
    }

    .imgSec3 img{
        width: 170vh;
    }

    /* seccion4 */

    .conTextSec4{
        flex-wrap: wrap;
    }

    .conText4{
        width: 150vh;
    }

    /* seccion5 */

    .conText5 p{
        padding: 0 30vh;
        padding-bottom: 10vh;
    }

    .Imgsec5 img{
        width: 140vh;
    }

    /* seccion6 */
    .seccion6{
        flex-wrap: wrap-reverse;
        padding: 20vh 10vh;
    }

    /* seccion7 */
    .seccion7{
        flex-wrap: wrap;
        padding-left: 7vh;
    }

    .conText7{
        padding-right: 15vh;
    }
    
    .imgsec7 img{
        width: 170vh;
    }

    /* seccion8 */
    .seccion8{
        flex-wrap: wrap-reverse;
    }

    form{
        width: 120vh;
    }

    .contForm1{
        gap: 30vh;
    }

    /* seccion9 */
    .seccion9 img{
        width: 160vh;
    }

    /* footer */

    footer{
        height: 115vh;
    }
}

@media(max-width: 768px) and (min-width: 481px){

    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img{
        width: 10vh;
    }


    /* seccion1 */
     .Seccion1{
        flex-wrap: wrap;
    }

    .ImgSec1 img{
        width: 100vh;
    }

    /* seccion2 */

    .contentPosition{
        height: 88vh;
        width: 94%;
        padding:0;
        
    }

    .ImgsContPosition{
        gap: 2vh;
        padding-top: 40vh;
    }
    .ImgsContPosition img{
        width: 20vh;
    }

    /* seccion3 */

     .seccion3{
        padding: 60vh 7vh;
        padding-bottom: 14vh;
    }
    .conText3{
        flex-wrap: wrap;
    }

    .tituloSec3 h2{
        font-size: 70px;
        line-height: 0.9;
    }
    .contenedorText{
        padding-bottom: 5vh;
    }
    .tituloSec3{
        padding-right: 0vh;
    }

    .imgSec3{
        padding:0;
    }

    .imgSec3 img{
        width: 100vh;
    }

    /* seccion4 */

    .conTextSec4{
        flex-wrap: wrap;
        padding: 15vh 5vh;
    }

    .conText4{
        width: 100vh;
    }

    .conTextSec4 img{
        width: 100vh;
    }

    .conText4Img img{
        width: 50vh;
    }

    /* seccion5 */



    .conText5 p{
        padding: 0 10vh;
        padding-bottom: 10vh;
    }

    .Imgsec5 img{
        width: 100vh;
    }

    /* seccion6 */

    .seccion6{
        flex-wrap: wrap-reverse;
        padding: 20vh 10vh;

    }

    .imgSec6 img{
        width: 100vh;
    }


    /* seccion7 */

    .seccion7{
        flex-wrap: wrap;
        padding-left: 7vh;
    }

    .conText7{
        padding-right: 15vh;
    }
    
    .imgsec7 img{
        width: 100vh;
    }


    /* seccion8 */
    .seccion8{
        flex-wrap: wrap-reverse;
        padding: 10vh 10vh
    }

    form{
        width: 120vh;
    }

    .contForm1{
        gap: 30vh;
    }

    /* seccion9 */
    .seccion9 img{
        width: 100vh;
    }

    /* footer */

    footer{
        height: 115vh;
    }
}





@media(max-width: 480px ) and (min-width: 352px){

     header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img{
        width: 10vh;
    }

    nav{
        gap: 20px;
        flex-wrap: none;
    }

    nav a{
        font-size: 13px;
    }


    /* seccion1 */
     .Seccion1{
        flex-wrap: wrap;
    }

    .ImgSec1 img{
        width: 80vh;
    }

    h1{
        font-size: 70px;
    }

    .conText1  p{
        font-size: 15px;
    }

    /* seccion2 */

    .contentPosition{
        height: 88vh;
        width: 94%;
        padding:0;
        
    }

    .conText2 h2{
        font-size: 50px;
    }

    .conText2 p{
        font-size: 15px;
    }

    .ImgsContPosition{
        gap: 2vh;
        padding-top: 40vh;
        flex-direction: column;
    }
    .ImgsContPosition img{
        width: 20vh;
    }

    /* seccion3 */

     .seccion3{
        padding: 60vh 5vh;
        padding-bottom: 14vh;
    }
    .conText3{
        flex-wrap: wrap;
    }

    .tituloSec3 h2{
        font-size: 70px;
        line-height: 0.9;
    }
    .contenedorText{
        padding-bottom: 5vh;
    }
    .tituloSec3{
        padding-right: 0vh;
    }

    .tituloSec3 h2{
        font-size: 65px;
    }

    .imgSec3{
        padding:0;
    }

    .imgSec3 img{
        width: 75vh;
    }

    /* seccion4 */

    .conTextSec4{
        flex-wrap: wrap;
        padding: 15vh 5vh;
    }

    .conText4{
        width: 70vh;
    }

    .conText4 h2{
        font-size: 60px;
    }

    .conTextSec4 img{
        width: 70vh;
    }

    .conText4Img img{
        width: 30vh;
    }

    /* seccion5 */



    .conText5 p{
        padding: 0 10vh;
        padding-bottom: 10vh;
    }

    .Imgsec5 img{
        width: 70vh;
    }

    /* seccion6 */

    .seccion6{
        flex-wrap: wrap-reverse;
        padding: 20vh 10vh;

    }

    .imgSec6 img{
        width: 70vh;
    }


    /* seccion7 */

    .seccion7{
        flex-wrap: wrap;
        padding-left: 7vh;
    }

    .conText7{
        padding-right: 15vh;
    }
    
    .imgsec7 img{
        width: 70vh;
    }


    /* seccion8 */
    .seccion8{
        flex-wrap: wrap-reverse;
        padding: 10vh 2vh;
    }

    .conText8{
        padding-left: 6vh;
    }

    form{
        width: 100vh;
    }

    .contForm1{
        gap: 30vh;
    }

    /* seccion9 */
    .seccion9 img{
        width: 80vh;
    }

    /* footer */

    footer{
        height: 115vh;
    }
}



